/*FIRST PAGE*/

html, body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: Shippori Antique B1;
}

canvas {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

main {
  position: absolute;
  z-index: 10;
  min-width: fit-content;
  width: 100%;
  height: 100%;
  display: grid;
}

.regular-button {
  font-size: 100%;
  width: auto;
  height: 15%;
  padding-left: 2%;
  padding-right: 2%;
  margin: auto;
  text-align: center;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid white;
  transition-duration: 0.4s;
}

.regular-button:hover {
  background-color: white;
  color: black;
}

.center-content {
  width: 30%;
  height: 30%;
  margin: auto;
  font-size: 100%;

  display: flex;
  flex-direction: column;
  animation: center-box-header ease 10s;
}

.center-box-title {
  margin: auto; 
  text-align: center; 
  color: white;
  font-size: 200%;
}

.center-box-content {
  margin: auto; 
  font-size: 100%; 
  color: white; 
  text-align: center;
  line-height: 200%;
}

#text {
  animation: text ease 3s;
  -webkit-animation: text ease 3s;
  -moz-animation: text ease 3s;
  -o-animation: text ease 3s;
  -ms-animation: text ease 3s;
}

@media (orientation: portrait) {
  .center-content {
    width: 70%;
  }

  .center-box-title {
    font-size: 150%;
  }

  .center-box-content {
    font-size: 90%;
  }

  .regular-button {
    font-size: 90%;
  }
}